@model Userinfo

@{
    ViewData["Title"] = @Model.Name + " - Profile - MeetingDay";
    Layout = "~/Views/Shared/_PrimaryTop.cshtml";
}

    



<div class="card text-center" style="width: 50%; left: 25%; top: 15px;">
    <div class="m-2">
        @if(Model.WillAttend == true)
        {
            <span class="badge bg-success m-2"> Katılıyor </span>
        }
        else
        {
            <span class="badge text-bg-danger m-2"> Katılmıyor </span>
        }

        <div class="card mx-3" >
            <div class="card-header" >
                <h4 class="text-center  m-0 p-2">@Model.Name - Profil </h4>
            </div>
            <h4>@Model.Telnumber </h4>
            <h4>@Model.Email </h4>
        </div>
        
        <a asp-controller="home" asp-action="Index" class="btn btn-sm btn-outline-danger my-2">Ana Sayfa</a>
    </div>



</div>