@model Userinfo

@{
    ViewData["Title"] = "Thanks - MeetingDay";
    Layout = "~/Views/Shared/_PrimaryTop.cshtml";
}

<div class="card text-center" style="width: 50%; left: 25%; top: 15px;">
    <div class="m-2">
        <h3 class="text-center  m-0 p-2"> Başvuru Durumu </h3>


        @if(Model.WillAttend == true)
        {
            <h6 class="p-3">Teşekkürler,@Model.Name. Toplantıya sizinle birlikte @ViewBag.Count kişi katılıyor.</h6>
            <a asp-controller="home" asp-action="Userlist" class="btn btn-outline-primary">Katılımcılar Listesi</a>
        }
        else
        {
            <h6 class="p-3">Maalesef katılım sağlayamadınız.</h6>
            <a asp-controller="home" asp-action="apply" class="btn btn-outline-primary">Kayıt Ol</a>
        }

        


        
    </div>

  



</div>